#center{
    margin: auto;
    width: 30%;
}
#t1{
    text-align: center;
    width:370px;
    margin-bottom: 40px;
    color:gray;
    font-size: 35px;
}
label {
    width:220px;
    clear:left;
    text-align:left;
    padding-right:25px;
    margin-bottom:10px;
}

input, label {
    float:left;
    margin-bottom:10px;
    
}
input{
    border: 3px solid black;
    width: 220px;
    height: 20px;
}
button{
    position:fixed;
    bottom: 420px;
    left: 800px;
    
    width:6%;
    height: 30px;
    border-radius: 15%;
    background-color: blue;
    color: white;
   
  }
  h1{
      color: red;
      font-size: 60px;
  }
  #capital{
      color: blue;
      font-size: 30px;
  }
  select{
    border: 3px solid black;
    width: 230px;
    height: 30px;
    margin-bottom: 10px;

  }
  p{
      color: green;
      font-size: 30px;
  }
#ip{
 margin: auto;
 text-align: center;
 margin-left: 1px;  
}
#x1{
    font-size: 50px;
}
a{
    font-size: 20px;
}